.menu-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 26rpx;
  height: 150rpx;
  margin-top: 30rpx;

  .menu-item {
    height: 100%;
    border: 5rpx solid var(--black-25);
    border-radius: 20rpx;

    &.nan {
      background-color: var(--blue);
    }

    &.nv {
      background-color: var(--red);
    }
  }
}
